<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo4.mapper.auto.MemMapper">
    <!-- 查找用户信息 -->
    <select id="findAllMem" resultType="com.example.demo4.model.auto.Mem">
       select * from mem
    </select>

</mapper>